.s-button {
    color: #6200EA;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 5px 5px 10px #808080;
}

.s-button:hover {
    color: #6200EA;
}

.register-user-form .profile-picture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
