.setting-nav  {
    height: 280px;
}

.setting-nav > a  {
    text-decoration: none;
    width: 245px;
    padding-left: 16px;
    padding-right: 32px;
    font-size: 20px;
}

.setting-nav > a:hover {
    color: white !important;
    background-color: #6200EA !important;
}

@media screen and (max-width: 660px) {    
    .logged-in-nav-searchUser {
        width: 125px;
    }
    .logged-in-nav-searchUser .form-control {
        height: 25px;
    }
    .logged-in-nav-searchUser #inputGroup-sizing-default {
        height: 25px;
        font-size: 12px;
    }
    
    .logged-in-nav-navigators  {
        width: 165px;
    }

    .logged-in-nav-navigators .home-icon  {
        font-size: 24px;
    }
    .logged-in-nav-navigators .chat-icon  {
        font-size: 21px;
    }
    .logged-in-nav-navigators .plus-icon  {
        font-size: 18px;
    }
    .logged-in-nav-navigators .bell-icon  {
        font-size: 21px;
    }
    .logged-in-nav-navigators .nav-profile-picture {
        height: 24px;
        width: 24px;
        object-fit: cover;
        border-radius: 50%;
    }
}