.register-user {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Laila', sans-serif;
}

.register-user .logo {
    border-radius: 50%;
}

.register-user-form {
    border: 1px solid #808080;
    border-radius: 2%;
    box-shadow: 3px 3px 10px #808080; 
}

.register-user-form h3 {
    font-family: 'Laila', sans-serif;
    font-weight: bold;
}

.suggestion-message {
    color: rgb(218, 70, 70);
}
.success-message { /*This class is not defined in the User.js but it will work in other js files*/
    color: rgb(70, 218, 70);
}
.register-user-form .form-control::placeholder {
    color: black;
}
.register-user-form #helper {
    color: black;
    font-weight: 500;
}
.register-user-form .form-control {
    border-color: black;
}
.register-user-form .form-control:focus {
    border-color: #6200EA;
    box-shadow: 0px 0px 0px 1px #6200EA;
}

.lR-button {
    color: white;
    font-weight: 500;
    background-color: #6200EA;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #808080;
}

.lR-button:hover {
    color: white;
}

.lR-button:focus, .lR-button:active {
    box-shadow: 5px 5px 10px #6200EA;
}

@media screen and (min-width: 960px) {
    .register-user .logo {
        height: 500px;
        margin-right: 16px;
    }
    .register-user-form {
        width: 420px;
    }
}

@media screen and (max-width: 960px) { 
    .register-user .logo {
        height: 280px;
        margin-right: 16px;
    }
    .register-user-form {
        width: 350px;
    }
}

@media screen and (max-width: 660px) {
    .register-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    .register-user .logo {
        margin-bottom: 16px;
    }
}